   
<div class='display-4 p-1 text-center font-weight-bold text-uppercase text-dark' style='font-family: serif;'>
{{title}}
</div>


<div class="card-container">
    <div class="card">
         <a href='/admin/assignment'>Create Assignment</a>
    </div>
    <div class="card">
        <a href='/admin/view-submissions'>View Assignments</a>
    </div>
</div>