<div
  class="display-4 p-1 text-center font-weight-bold text-dark mt-3"
  style="font-family: serif;"
>
  {{title}}
</div>

<div class="card-container">
  <div class="card">
    <a href="/login">Student Log-in</a>
  </div>
  <div class="card">
    <a href="/admin/login">Admin Panel</a>
  </div>
</div>