<body>
  <div
    class="display-4 p-1 text-center font-weight-bold text-dark mt-3"
    style="font-family: serif;"
  >
    {{title}}
  </div>

  <div id="sawo-container" style="height: 300px; width: 300px"></div>

  <script src="https://websdk.sawolabs.com/sawo.min.js"></script>
  <script src="javascripts/sawo.js"></script>

</body>