
<div class='display-4 p-1 text-center font-weight-bold text-dark mt-3' style='font-family: serif;'>
Your Submission is successfull! :D
</div>

<h5 class="p-1 text-center font-weight-bold text-dark mt-6">Go Back to <span><a href="/users">student home page</a></span></h5>